---
title: Set Your Coffee-Scripts to Stun
layout: post
tags: coffeescript HTML5 Phaser
comments: open
---
After reviewing several HTML5 game engines, I've decided to spend some time with <a href="http://phaser.io/">Phaser</a>. My primary consideration has to be gameplay, and after trying a bunch of demos, I felt that Phaser was one of the top contenders. With comparable gameplay, I next looked at the development environment and framework.<br />
<br />
Here is why I like Phaser:<br />
<ul>
    <li>No special workbench is needed. My favorite editor will work, as well as the one I happen to be using.</li>
    <li>Cross platform on the dev side. I use Linux.</li>
    <li>Ecma standard script - not ActionScript or anything else, but real javascript.</li>
    <li>Agnostic oop - I'm not forced into any class patterns.</li>
</ul>
<div>
    Best of all, due to those last two points, Phaser is compatible with coffee-script. As my tag cloud tells me, that is my favorite topic, &nbsp;so with a bit of playing around, I ported <a href="http://www.photonstorm.com/phaser/tutorial-making-your-first-phaser-game">this tutorial</a> to coffee-script.<br />
    <br /></div>
<div>
    At the moment, there is a workaround patch needed for coffee-script classes to work. This could be fixed in an upcoming release, but for now we need to ensure that the prototype.constructor is set:<br />
    <br /></div>
<script src="https://gist.github.com/darkoverlordofdata/8119452.js?file=phaser_patch.coffee"></script>

<br />
<div>
    <br />
    Now the code - this is just the final listing from the demo:<br />
    <br /></div>
<br />
<script src="https://gist.github.com/darkoverlordofdata/8119452.js?file=game.coffee"></script>

Lastly, compile to javascript for use in your html. While you can use coffee-script on the browser side, it impacts load time.