---
title: Katra Live Demo
layout: post
tags: coffeescript Basic StarTrek
---
<a href="http://darkoverlordofdata.com/katrac/" style="font-size: 28px;">Katra</a> has one goal - to run StarTrek, and possibly other, games from the golden age of basic programming.<br />
First up: STAR TREK: BY MIKE MAYFIELD, CENTERLINE ENGINEERING (ORIG. 20 OCT 1972)
<br />
tip: keep your shift lock on. this game expects all caps input. enter ? at command: for a list of commands.<br />
<iframe seamless="" src="http://darkoverlordofdata.com/katra/run/?basic=hp2k&amp;program=STTR1" style="height: 400px; width: 768px;"></iframe>

<br />
Open in full <a href="http://darkoverlordofdata.com/katra/run/?basic=hp2k&amp;program=STTR1">window</a>