---
title: OXMail Soup
layout: post
tags: android open-xchange
---
I've bitten the hook on the first year free subscription to Open-Xchange from my domain registrar, Namecheap. I have to say, it's tasty. With email, calendar, tasks, contacts, infostore, it's positioned to compete against Outlook.<br />
<br />
The client is an html5/ajax web app. If you've used gmail, you're already using this type of email client. There is a lot more eye candy then gmail, but it seems pretty responsive.<br />
<br />
But, if you're like me, you don't like email in a browser tab. I want a dedicated app. You can do this on the desktop with Chrome - just go to the Tools menu and create an application shortcut. I create it in the application menu, and from there I can pin it to the bottom panel of my desktop. But this isn't available for Android. Not yet, although Chrome for android beta may fill this gap. So for now, I've created the dumbest android app ever. Actually, I probably won't win that prize... but without further ado:<br />
<br />
Announcing OXMail - which does one thing, load&nbsp;<a href="https://oxwebmail.registrar-servers.com/mobile/#login">oxwebmail mobile</a>&nbsp;into a webview control.<br />
<br />
<ul>
    <li><a href="https://github.com/darkoverlordofdata/oxmail">The github project page</a></li>
    <li><a href="https://raw.github.com/darkoverlordofdata/oxmail/master/OXMail.apk">Install Android App</a></li>
</ul>
<br />
<br />