
<hr />
<p></p>
<p>Created with <a itemscope itemtype="http://schema.org/SoftwareApplication" href="/huginn">
    <span itemprop="name">Huginn</span></a>
</p>
<div class="footer">
    <p class="pagination-centered">
        <small class="muted">
            <a class="no-link" href="/">
                Copyright Dark Overlord of Data 2012 - 2014</a>
        </small>
    </p>
    <p class="pagination-centered">
        <small class="muted">
            <a href="https://plus.google.com/111823898795564066373?rel=author">Google</a>
        </small>
    </p>
</div>

</div>
<script type="text/javascript" src="//code.jquery.com/jquery-2.0.2.min.js" ></script>
<script type="text/javascript" src="//cdn.darkoverlordofdata.com/js/bootstrap.min.js" ></script>
</body>
</html>