
<hr />
<p></p>
<p>Created with <a href="/huginn">Huginn</a>
<a href="/edit" title="edit posts" class="btn btn-primary btn-mini"><i class="icon icon-pencil icon-white"> </i>...</a>

</p>
<p>Projects by Dark Overlord of Data</p>
<p><a href="/katra">Katra</a> BASIC language interpreter in CoffeeScript</p>
<p><a href="http://exspresso.darkoverlordofdata.com">Exspresso</a> A CoffeeScript MVC Web Framework</p>
</div>
<script type="text/javascript" src="//code.jquery.com/jquery-2.0.2.min.js" ></script>
<script type="text/javascript" src="//cdn.darkoverlordofdata.com/js/bootstrap.min.js" ></script>
</body>
</html>