<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="if it isn't dark, it isn't data" />
    <meta name="author" content="bruce davidson" />
    <link rel="author" href="http://plus.google.com/111823898795564066373" />

    <meta property="og:title" content="dark overlord of data" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://darkoverlordofdata.com/" />
    <meta property="og:image" content="http://darkoverlordofdata.com/assets/d16a128.png" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="if it isn't dark, it isn't data" />
    <meta property="og:description" content="Katra - a BASIC language interpreter in CoffeeScript. Play classic games from the golden age of programming - Hunt The Wumpus, StarTrek, etc." />

    {% if page.addon == 'muninn' %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/cupertino/jquery-ui.css">
    <link rel='stylesheet' href='//cdn.darkoverlordofdata.com/css/bootstrap.min.css' type='text/css'/>
    {% bundle %}
    - /_assets/fonts.css
    - /_assets/site.css
    - /_assets/jumbotron.css
    - /_assets/chosen.min.css
    {% endbundle %}
    <link rel='stylesheet' href='//cdn.darkoverlordofdata.com/css/bootstrap-responsive.min.css' type='text/css'/>

    {% else %}
    <link rel='stylesheet' href='//cdn.darkoverlordofdata.com/css/bootstrap.min.css' type='text/css'/>
    {% bundle %}
    - /_assets/fonts.css
    - /_assets/site.css
    - /_assets/jumbotron.css
    {% endbundle %}
    <link rel='stylesheet' href='//cdn.darkoverlordofdata.com/css/bootstrap-responsive.min.css' type='text/css'/>
    {% endif %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Fav and touch icons -->
    <link href="/favicon.png" rel="shortcut icon" type="image/png">
    <!-- Google Analytics Code -->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', "UA-41153554-1"]);
        _gaq.push(['_setDomainName', 'darkoverlordofdata.com']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    <!-- End Google Analytics Code -->
</head>

<body>
<div class="row-fluid">
    <div class="span10">
        <blockquote class="pull-right"><h4><a class="no-link" href="http://blog.darkoverlordofdata.com/">{{ site.description }}</a></h4>
            <small><a class="no-link" href="/">{{ site.name }}</a></small>
        </blockquote>
    </div>
</div>

<div class="container-narrow">
